<div class="container mt-5">
    <div class="text-center mb-4">
        <h2>Gestión de Productos <i class="bi bi-basket"></i></h2>
    </div>
    <table class="table table-hover table-striped align-middle">
        <thead class="table-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Precio</th>
                <th scope="col">Stock</th>
                <th class="text-center" scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Datos de productos -->
            @for (product of productsList; track product.id) {
            <tr>
                <th scope="row">{{ product.id }}</th>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price}}<i class="bi bi-currency-euro"></i></td>
                <td>{{ product.stock }}</td>
                <td class="text-center">
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-primary me-2" href="/editar/{{product.id}}">Editar <i class="bi bi-box-arrow-in-up-right"></i></a>
                        <button (click)="delete(product.id)" class="btn btn-danger">Eliminar</button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
